<div class="panel">
	<ul class="left-menu" id="step4">
		<% if current_page?(:controller=>"document", :action=>"contracts") || current_page?(:controller=>"document", :action=>"show_contract") || current_page?(contracts_path) %>
			<li class="hover">
				<span class="filter" id="filter"><span class="icon icon-filter"></span></span>
				<ul>
					<li class="item">Фильтр
				</ul>
			</li>
		
			<li class="hover">
				<span class="sorting"><span class="icon icon-tree"></span></span>
				<ul class="sub-hover">
					<li class="item"><span>Упорядочить</span><span class="icon-caret-right"></span>
					<li class="item2">
						<ul>
							<li><%= link_to_unless((cookies[:sorting_type].nil? || cookies[:sorting_type] == "1"), "Заказчик", {action: "sorting_contracts", id: "1"}) do %>
										<span>Заказчик</span><span class="icon-ok"></span>
								<% end %>
							<li><%= link_to_unless(cookies[:sorting_type] == "2", "Руководитель", {action: "sorting_contracts", id: "2"}) do %>
										<span>Руководитель</span><span class="icon-ok"></span>
								<% end %>
							<li><%= link_to_unless(cookies[:sorting_type] == "3", "Отдел", {action: "sorting_contracts", id: "3"}) do %>
										<span>Отдел</span><span class="icon-ok"></span>
								<% end %>
						</ul>
					<li>
				</ul>
			</li>
		<% end %>
		<li class="hover">
			<span class="help"><span class="icon icon-question"></span></span>
			<ul>
				<li class="item">Помощь
			</ul>
		</li>
	</ul>
</div>