// Background Colors
$header-bgcolor: rgba(0, 0, 0, 0.8);
$panel-bgcolor: rgba(0, 0, 0, 0.6);
$body-bgcolor: #f3f3f3;
$content-bgcolor: #ffffff;

// Colors
$main-color: #79b889;
$label-color: #79b889;

$monochr-color: #e5e3e3;
$monochr-h-color: #d4d4d4;

$filter-color: #f6ca6b;
$view-color: #a86791;
$help-color: #da4956;

// Font Colors
$header-ftcolor: rgb(255,255,255);
$panel-ftcolor: rgb(255,255,255);
$main-ftcolor: #616161;
$trip-link-ftcolor: #afd4b5;

// Fonts
$header-ft: 17px/140% Roboto Condensed, sans-serif;
$input-ft: 15px/140% Verdana, sans-serif;
$main-ft: 15px/140% Verdana, sans-serif;

$panel-ft: 16px/190% Roboto Condensed, sans-serif;
$h2-ft: 18px/140% Verdana, sans-serif;
$h3-ft: 16px/140% Verdana, sans-serif;

// Height
$header-hgt: 70px;

// Width
$content-wd: 960px;

// Shadows
$content-shd:  0 1px 2px rgba(0, 0, 0, 0.2);

