<div class="content">
	<% i = true %>
	<%= render partial: 'shared/content_item', :locals => { :contract => @contract, :access => @access, :i => i, :model => @model, :path => '', :j => false } %>
</div>